{% extends "about.html" %}
{% block content %}
    {% for i in text %}
        <p class="abouttext" style="color:white; font-size:20;" align="justify">{{i}}</p>
    {% endfor %}
    <p class="abouttext" style="color:white" align="right">{{ creator }}</p>
    <div class="overflow-hidden" style="position:absolute; z-index:9; top:1300px; border-radius:4px; user-select: none;"><img class="scale" src="{{image1}}" style="width:450px; height:auto; border-radius: 4px;"></div>
    <div class="overflow-hidden" style="position:absolute; z-index:9; top:1300px; left:572px; border-radius:4px; user-select: none;"><img class="scale" src="{{image2}}" style="width:450px; height:auto; border-radius: 4px;"></div>
{% endblock %}
