{% extends "about.html" %}
{% block content %}
    {% for i in text %}
        <p class="abouttext" style="color:white" align="justify">{{i}}</p>
    {% endfor %}
    <p class="abouttext" style="color:white" align="right">{{ creator }}</p>
    <div class="overflow-hidden" style="position:absolute; z-index:9; top:1300px; border-radius:4px; user-select: none; pointer-events: none;"><img src="{{image1}}" style="width:100%; height:100%;"></div>
    <div class="overflow-hidden" style="position:absolute; z-index:9; top:1300px; left:572px; border-radius:4px; user-select: none; pointer-events: none;"><img src="{{image2}}" style="width:100%; height:100%;"></div>
    <div class="overflow-hidden" style="position:absolute; z-index:9; top:1672px; border-radius:4px; user-select: none; pointer-events: none;"><img src="{{image3}}" style="width:100%; height:100%;"></div>
    <div class="overflow-hidden" style="position:absolute; z-index:9; top:1560px; left:572px; border-radius:4px; user-select: none; pointer-events: none;"><img src="{{image4}}" style="width:100%; height:100%;"></div>
    <div class="overflow-hidden" style="position:absolute; z-index:9; top:2061px; border-radius:4px; user-select: none; pointer-events: none;"><img src="{{image5}}" style="width:100%; height:100%;"></div>
    <div class="overflow-hidden" style="position:absolute; z-index:9; top:1929px; left:572px; border-radius:4px; user-select: none; pointer-events: none;"><img src="{{image6}}" style="width:100%; height:100%;"></div>
{% endblock %}